[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/boost/config"]
	path = external/boost/config
	url = https://github.com/boostorg/config.git
[submodule "external/boost/describe"]
	path = external/boost/describe
	url = https://github.com/boostorg/describe.git
[submodule "external/boost/mp11"]
	path = external/boost/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "external/boost/container_hash"]
	path = external/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
